* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-family: "Comfortaa", cursive;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.game-title,
.game-description {
  color: #81caa8;
  font-size: 40px;
  text-align: center;
}

@keyframes animationButton {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    width: 220px;
    height: 55px;
  }
  100% {
    width: 200px;
    height: 50px;
  }
}

.btn-beginner,
.btn-median,
.btn-professional,.btn-voltar {
  z-index: 2;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #161616;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 22px;
  animation: 1s ease-in-out infinite animationButton;
}

.container-balloons {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.balloon {
  width: 90px;
  height: auto;
  cursor: url("./assets/alfinete.png"), auto;
  position: absolute;
  animation: 1s ease-in-out  animationbalao;
}

.btn-beginner {
  background-color: #81caa8;
}

.btn-median {
  background-color: #e3e640;
}

.btn-professional {
  background-color: #f35252;
}
.contador, .balaoTela{
  color: aliceblue;
  font-size: 36px;
}
.perdeu, .ganhou{
  font-size: 46px;
  color: aliceblue;
  display: none;
}
.btn-voltar{
  position: fixed;
  display: none;
  bottom: 20px;
}

.contador-frase,.balaoTela{
  font-size: 36px;
  color: aliceblue;
  
}

.container-regras{
  width: 500px;
  position: fixed;
  left: 100px;
  top: 100px;
  text-align: center;
  background: rgb(36, 33, 29);
}
.container-regras h2{
  margin:10px 0 10px 0;
  color: #81caa8;
  font-size: 36px;
}
.regras p{
  font-size: 24px;
  color: aliceblue;
  margin: 5px 0 15px 0;
}
@keyframes animationbalao {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.test{

animation: 1s ease-in-out  animationbalao;
}